body {
  background-color: #FFA500;
}

h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: white;
}

.nav-links {
  list-style: none;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dog-card {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px;
  margin: 10px;
}

.dog-card img {
  width: 90%;
  height: 90%;
  text-align: center;
}

.dog-card h3 {
  text-align: center;
}

.rating {
  text-align: center;
}
.rating button {
  margin: 10px;
}

.dog-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

.submit {
  display: block;
  margin-top: 10px;
}

.error {
  color: red;
}