body {
  background-color: #FFA500;
  height: 95vh;
}

#root, .App {
  height: 100%;
}

h1,h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: white;
}

.nav-links {
  list-style: none;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dog-card {
  display: flex;
  border: 1px solid black;
  background-color: #699EFF;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px;
  margin: 10px;
}

.dog-card img {
  width: 90%;
  height: 90%;
  text-align: center;
}

.dog-card h3 {
  text-align: center;
}

.rating {
  text-align: center;
}
.rating button {
  margin: 10px;
}

.dog-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

.login-page {
  display: flex;
  height: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 1em;
  background-color: white;
}

.login-form h2 {
  text-align: center;
}

.login-form label {
  align-self: end;
  margin-bottom: 1.5em;
  font-weight: 600;
}

.login-form label input {
  margin-left: 1em;
  border-radius: 5px;
}

.login-form button {
  align-self: center;
  width: 70%;
  border-radius: 10px;
  padding: 0.5em 0em 0.5em 0em;
  font-weight: 600
}

.error {
  color: red;
  margin-top: 0em;
  font-weight: 650;
}

.profile-page {
  position: relative;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 60px;
  width: 140px;
  height: 30px;
  font-size: 100%;
  background-color: red;
  border: 3px solid black;
  border-radius: 10px;
}

.submit {
  display: block;
  margin-top: 10px;
}

.error {
  color: red;
}